<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--
    Kui lisasid normalize.css faili siis eemalda see kommentaarist

    <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}">
    -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <!--navbar -->
    <nav class = "navbar">
        <div class="menu-toggle" onclick="toggleMenu()">☰menüü</div>
        <ul class="nav-links" id="nav-links">
            <li><a href = "{{ url_for('index') }}">Index</a></li>
            <li><a href="{{ url_for('profiiliseaded') }}">Profiiliseaded</a></li>
            <li><a href="{{ url_for('enda_konto') }}">Enda konto</a></li>
            <li><a href="{{ url_for('sisselogimine') }}">Sisselogimine</a></li>
        </ul>
    </nav>

    {% block content %}{% endblock %}
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>