{% extends 'base.html' %}

{% block title %}
Profiiliseaded
{% endblock %}

{% block content %}
<body>
<div class="container">
    <div class="pinkline">
        <button class="closebutton">&times;</button>
    </div>
    <div class="boxidasetus">
        <div class="box">
            <img class="pfp" src="{{ url_for('static', filename='ai_cat.png') }}"/>
                <button class="change-pfp-btn">Vaheta profiilipilt</button>
            <div class="accountname">
                <b>Kuvanimi</b>
                <input class="inputbox">
            </div>
            <div class="faktibox">
                <b>Faktid</b>
                <input class="inputbox">
            </div>
        </div>
        <div class="box2">
            <div class="biobox">
                <b>Bio</b>
                <input class="inputbox">
            </div>
                <button class="salvestabutton">Salvesta</button>
            </div>
        </div>
    </div>
</div>
</body>

{% endblock %}
