{% extends 'base.html' %}

{% block title %}
Logi sisse
{% endblock %}

{% block content %}
<body>
<div class="sisselogimiscontainer">
    <div class="kass_ja_logikast">
        <div class="kassp">
            <img class="kiisusiluett" src="{{ url_for('static', filename='iluskass.png') }}"/>
        </div>
        <div class="logikast">
            <b class="tekstlogi">Loo uus kasutaja</b>
            <div class="epost">
                <b>E-posti aadress</b>
                <input class="inputboxss">
            </div>
            <div class="parool">
                <b>Parool</b>
                <input class="inputboxss">
            </div>
            <div class="kordaparool">
                <b>Korda parooli</b>
                <input class="inputboxss">
            </div>
            <button class="lookasutaja">Loo kasutaja</button>
            <div class="eisoovikasutajat">
            <b class="eisoovitekst">Ei soovi kasutajat?</b>
            <b class="külalinelink"> Jätka külalisena</b>
            </div>
        </div>
    </div>
</div>
</body>

{% endblock %}
