.boxidasetus {
    display: flex;
    justify-content: space-around;
    margin-bottom: 4em;
}

.container {
    justify-self: center;
    background-color: lavenderblush;
    width: 60%;
}

.pinkline {
    width: 100%;
    height: 50px;
    background-color: palevioletred;
}

.box {
    width: 40%;
    margin: 2em;
    display: flex;
    gap: 4em;
    flex-direction: column;
    padding-bottom: 6em;
}

.box2 {
    width: 60%;
    display: flex;
    gap: 3em;
    flex-direction: column;
    margin: 2em;
    justify-content: center;
}

.pfp {
    width: 100%;
}

.change-pfp-btn {
    background-color: #E7A0B7;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.2s ease;
    width: 9em;
    height: 40px;
    transform: scale(1.05);
    align-self: center;
    font-size: 1.2em;
}

.change-pfp-btn:hover {background-color: rgba(248,221,229,0.6)}

.change-pfp-btn:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.inputbox {
    width: 100%;
    background-color: white;
    height:100%;
}

.biobox {
    height: 15em;
    color: deeppink;
    font-size: 1.5em;
    padding-bottom: 3em;
}

.accountname {
    height: 3em;
    color: deeppink;
    font-size: 1.5em;
}

.faktibox {
    height: 8em;
    color: deeppink;
    font-size: 1.5em;
}

.salvestabutton {
    background-color: #E7A0B7;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.2s ease;
    width: 9em;
    height: 40px;
    transform: scale(1.05);
    align-self: center;
    font-size: 1.2em;
    text-decoration: None;
    align-items: center;
    display: flex;
    justify-content: center;
}

.salvestabutton:hover {background-color: rgba(248,221,229,0.6)}

.salvestabutton:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.closebutton {
    border: none;
    background: transparent;
    font-size: 3em;
    color: #333;
    cursor: pointer;
    display: flex;
    justify-self: flex-end;
    text-decoration: None;
    transition: background-color 1s ease, transform 1s ease;
}
.closebutton:hover {background-color: rgba(248,221,229,0.6)}

.closebutton:active {
  transform: translateY(4px);
}

.sisselogimiscontainer {
    justify-self: center;
    background-color: white;
    width: 80%;
    border-style: solid;
    border-color: grey;
}

.kass_ja_logikast {
    display: flex;
    justify-content: space-around;
}

.kassp {
    width: 40%;
    background-color: #EEC5C5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.logikast {
    width: 60%;
    display: flex;
    gap: 3em;
    flex-direction: column;
    padding-top: 5em;
    align-items: center;
    padding-bottom: 5em;
}

.inputboxes {
    background-color: ghostwhite;
    border-radius: 20px;
    width: 25em;
    height: 40px;
    margin: 20px;
    align-content: center;
}

.logisisse {
    background-color: rgba(236,208,216,0.6);
    border-color: #333333;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    width: 18em;
    height: 40px;
    align-self: center;
    font-size: 1.2em;
    margin: 15px;
}

.tekstlogi {
    display: flex;
    justify-self: center;
    font-size: 1.5em;
}

.kiisusiluett {
    width: 100%;
}

.logimistekst {
    display: flex;
    flex-direction: column;
    font-size: 1.1em;
    padding-left: 20px;
}


.regatekst {
    color: royalblue;
    font-size: 1.1em;
    text-decoration: underline;
    cursor: pointer;
    padding-bottom: 4em;
}

.lookasutaja {
    background-color: #E7A0B7;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    width: 18em;
    height: 40px;
    align-self: center;
    font-size: 1.2em;
}

.eisoovikasutajat {
    display: flex;
    justify-content: space-evenly;
}

.eisoovitekst {
    font-size: 1.1em;
}

.külalinelink {
    color: royalblue;
    font-size: 1.1em;
    text-decoration: underline;
    cursor: pointer;
    padding-bottom: 0.1em;
}

.postloocontainer {
    display: flex;
    justify-self: center;
    background-color: white;
    width: 40em;
    flex-direction: column;
    margin-top: 4em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.postloonavb {
    align-items: center;
    display: flex;
    height: 3em;
    justify-content: center;
    position: relative;
}

.navbtekst {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.closepostloo {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    text-decoration: none;
    color: #333;
    cursor: pointer;
}

.pealkiritekst {
    display: block;
    width: 90%;
    margin: 10px auto;
    padding: 1em;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.postlootekst {
    display: block;
    width: 90%;
    margin: 10px auto;
    padding: 1em;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    height: 10em;
}

.image-upload {
    display: inline-block;  /* Ensures the label behaves like a button */
    width: 6em;
    margin-left: 32px;
    padding: 10px 20px;  /* Add some padding to make it look more button-like */
    border: 1px solid #B8A3A3;  /* Make sure the border color matches the design */
    border-radius: 5px;  /* Slightly rounded corners */
    background-color: lightgrey;
    font-size: 16px;
    cursor: pointer;
    text-align: center;  /* Ensure the text is centered */
    transition: background-color 0.3s ease;  /* Smooth background change on hover */
}


.postitabutton {
    display: block; /* Ensures it appears on a new line */
    width: 50%; /* Adjust width as needed */
    margin: 10px auto; /* Centers the button horizontally and adds spacing */
    padding: 0.5em; /* Adds internal spacing for a comfortable click area */
    font-size: 16px; /* Adjust font size */
    font-weight: bold; /* Makes the text stand out */
    color: #fff; /* Button text color */
    background-color: #B8A3A3; /* Button background color (blue) */
    border: none; /* Removes the default border */
    border-radius: 1em; /* Optional: Rounds the corners */
    cursor: pointer;
}

.aboutuscontainer {
    display: flex;
    justify-self: center;
    margin-top: 2em;
    width: 80%;
}

.aboutusasetus{
    display: flex;
    justify-content: space-evenly;
}

.aboutusfaktkast {
    width: 60%;
}

.aboutustekstasetus {
    display: flex;
    justify-self: center;
    flex-direction: column;
    width: 70%;
    margin-top: 8em;
}

.meist {
    text-align: center;
    font-size: 2em;
}

.aboutuspilt {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;

}

.catlooking {
    width: 300px;
    height: auto;
}

h1 {
    border-bottom-style: none;
    border-color: black;
    color: black;
    text-align: center;
    padding: 10px;
    margin: 0;
}

body {
    background-color: #EEC5C5;
}

* {
    font-family: 'Poppins', sans-serif;
}

nav {
  height: 10%;
  background: #B8A3A3;
  padding: 20px;
    align-content: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
    align-content: center;
}

section::after {
    content: "";
    display: table;
    clear: both;
}

/* Navbar style */
.navbar {
    background-color: #f2e6ff;
    overflow: hidden;
    width: 100%;
    height: 50px; /* Adjust height to your preferred size */
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Vertically center content */
    margin: 0; /* Remove default margin */
    padding-top: 10px; /* Remove default padding */
    padding-bottom: 10px;
}

.navbar .nav-links {
    list-style-type: none;
    display: flex;
    gap: 100px;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

.navbar a {
    flex: 1; /* Allow links to stretch */
    color: black;
    text-align: center;
    padding: 0 20px; /* Horizontal padding only */
    text-decoration: none;
    font-size: 17px;
    line-height: 50px; /* Match navbar height for vertical centering */
    display: block; /* Ensure the anchor fills the container */
}

.navbar a:hover {
    background-color: #e4ccff;
    color: #600080;
}

.navbar a.active {
    background-color: lightpink;
    color: #600080;
}

.navbar .menu-toggle {
    display: none;
}

.heading-enda-konto {
     top: 11%;
     left: 27%;
}
 .image-with-text-enda-konto {
     display: flex;
     height: 30em;
     background-color: lavenderblush;;
     width: 100%;
}

 .my-button-enda-konto {
     background-color: gray;
     color: white;
     margin: 20px;
     padding: 10px 20px;
     border: none;
     border-radius: 40px;
     cursor: pointer;
     text-decoration: none;
}
.my-button-enda-konto:hover {background-color: rgba(255,0,23,0.6)
}

.my-button-enda-konto:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
 .second-button-enda-konto {
     background-color: gray;
     color: white;
     margin: 20px;
     padding: 10px 20px;
     border: none;
     border-radius: 20px;
     cursor: pointer;
}
 .second-textbox-enda-konto {
     padding-left: 20px;
     width: 200px;
     height: 300px;
     background-color: lavenderblush;
     top: 69%;
     left: 1%
}
.topnav-right {
    float: right;
    padding-left: 400px;
}
.topnav a {
    float: left;
}

.postitus-box {
    width: 80%;
    padding: 20px;
    margin: 50px auto;
    background-color: lavenderblush;
    border: 2px solid rebeccapurple;
    display: flex;
    gap: 20px;
}

.postitus-text-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.postitus-header {
    margin-bottom: 10px;
}

.postitus-title {
    font-size: 18px;
    font-weight: bold;
}

.postitus-username {
    font-size: 14px;
    color: gray;
    margin-bottom: 5px;
}

.postitus-image-container img {
    width: 100%;
    height: auto;
}

.avaleht-box {
    max-width: 70%;
    margin: 0 auto;
    padding: 20px;
    align-items: center;
}

.avaleht-posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

.avaleht-posts li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 40%;
    background-color: lavenderblush;
    margin-bottom: 10px;
    overflow: hidden;
}

.avaleht-posts a {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 16px;
    color: black;
    text-decoration: none;

}
.avaleht-posts a:hover{
    color: mediumpurple;
}

.avaleht-posts img {
    width: 95%;
    height: auto;
    object-fit: contain;
    max-height: 200px;
    margin: 10px;

}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.search-box {
  width: 30%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 25px;
  font-size: 16px;
  outline: none;
  background-color: #fff;
  color: #333;
  transition: border-color 0.3s ease;
}

.search-box:focus {
  border-color: lavenderblush;
}

.search-button {
  padding: 10px 20px;
  border: none;
  background-color: lavenderblush;
  color: black;
  font-size: 16px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: lavenderblush;
}

.endakontocontainer {
    display: flex;
    justify-self: center;
    width: 97%;
    margin: 2em;
}

.endakontobox2 {
    background-color: lavenderblush;
    display: flex;
    flex-direction: column;
    width: 70%;
}

.endakontobox1 {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding-right: 1em;
}

.aikass {
    width: 100%;
}

.endakontoboxideasetus {
    display: flex;
    justify-content: space-around;
}

.heading-enda-konto {
    font-size: 2em;
    padding: 1em;
}

.image-with-text-enda-konto {
    display: flex;
    height: 30em;
    background-color: lavenderblush;;
    width: 100%;
}

.endakontotext {
    width: 100%;
    box-sizing: border-box;
    max-width: 100%;
    padding: 2em;
    font-size: 1em;
    margin-bottom: 20px;
    line-height: 2;
}

.image-with-text img {
    margin-right: 10px;
    /* adjust as needed */
}

.my-button-enda-konto {
    background-color: gray;
    color: white;
    margin: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    text-decoration: none;
}

.my-button-enda-konto:hover {
    background-color: rgba(255, 0, 23, 0.6)
}

.my-button-enda-konto:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.second-button-enda-konto {
    background-color: gray;
    color: white;
    margin: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.second-textbox-enda-konto {
    width: 90%;
    height: 12em;
    background-color: lavenderblush;
    padding-left: 1em;
}

.topnav-right {
    float: right;
    padding-left: 400px;
}

.topnav a {
    float: left;
}

.postitus-box {
    width: 80%;
    padding: 20px;
    margin: 50px auto;
    background-color: lavenderblush;
    border: 2px solid rebeccapurple;
    display: flex;
    gap: 20px;
}

.postitus-text-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.postitus-header {
    margin-bottom: 10px;
}

.postitus-title {
    font-size: 18px;
    font-weight: bold;
}

.postitus-username {
    font-size: 14px;
    color: gray;
    margin-bottom: 5px;
}

.postitus-image-container img {
    width: 100%;
    height: auto;
}

/* Mobile styles */
@media (max-width: 768px) {
    .navbar .nav-links {
        display: none;
        flex-direction: column;
        background-color: #f2e6ff;
        width: 50%;
        position: absolute;
        top: 60px;
        left: 0;
    }

    .navbar .nav-links.visible {
        display: flex;
        gap: 10px;
    }

    .navbar .menu-toggle {
        display: block;
        cursor: pointer;
        color: black;
        font-size: 1.5em;
    }

    .navbar a {
        float: left;
        color: black;
        text-align: center;
        padding: 1px 10px;
        text-decoration: none;
        font-size: 10px;
        justify-content: center;
    }

    .kass_ja_logikast {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .kassp {
        background-color: #EEC5C5;
        padding-right: 30%;
        padding-left: 30%;
    }

    .inputboxes {
        background-color: ghostwhite;
        border-radius: 20px;
        width: 20em;
        height: 2.2em;
        margin: 20px;
        align-self: center;
    }

    .logisisse {
        background-color: rgba(236, 208, 216, 0.6);
        border-color: #333333;
        border-radius: 20px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        width: 14em;
        height: 40px;
        align-self: center;
        font-size: 1.2em;
        margin: 15px;
    }

    .regatekst {
        color: royalblue;
        font-size: 1em;
        text-decoration: underline;
        cursor: pointer;
        padding-bottom: 4em;
    }

    .eisoovitekst {
        font-size: 1em;
    }

    .külalinelink {
        color: royalblue;
        font-size: 1em;
        text-decoration: underline;
        cursor: pointer;
        padding-bottom: 0.1em;
    }

    .tekstlogi {
        display: flex;
        justify-self: center;
        font-size: 1.25em;
    }

    .container {
        justify-self: center;
        background-color: lavenderblush;
        width: 100%;
    }

    .boxidasetus {
        display: flex;
        flex-direction: column;
        margin-bottom: 4em;
    }

    .box {
        margin: 2em;
        display: flex;
        gap: 4em;
        flex-direction: column;
        justify-items: center;
        padding-bottom: 2em;
        padding-left: 23%;
    }

    .change-pfp-btn {
        background-color: #E7A0B7;
        border: none;
        border-radius: 20px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        transition: transform 0.2s ease;
        width: 9em;
        height: 40px;
        transform: scale(1.05);
        align-self: center;
        font-size: 1em;
    }

    .accountname {
        height: 2em;
        color: deeppink;
        font-size: 1em;
    }

    .faktibox {
        height: 6em;
        color: deeppink;
        font-size: 1em;
    }

    .box2 {
        display: flex;
        gap: 3em;
        flex-direction: column;
        margin: 2em;
        justify-content: center;
        padding-left: 13%;
    }

    .biobox {
        height: 10em;
        color: deeppink;
        font-size: 1em;
        padding-bottom: 3em;
    }

    .endakontobox2 {
        background-color: lavenderblush;
        display: flex;
        flex-direction: column;
        width: 70%;
        height: 70em;
    }

    .endakontotext {
        width: 100%;
        box-sizing: border-box;
        max-width: 100%;
        padding: 2em;
        font-size: 1em;
        margin-top: 20px;
        margin-bottom: 20px;
        line-height: 2;
    }

    .h1 {
        padding: 5px;
        margin: 1px;
    }

    .avaleht-posts li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 90%;
        background-color: lavenderblush;
        margin-bottom: 10px;
        overflow: hidden;
    }

    .avaleht-posts a {
        margin-top: 5px;
        margin-bottom: 1px;
        font-size: 10px;
        color: black;
        text-decoration: none;
    }

    .avaleht-posts img {
        width: 90%;
        height: auto;
        object-fit: contain;
        max-height: 200px;
    }

    .search-box {
        width: 30%;
        padding: 5px;
        border: 2px solid #ccc;
        border-radius: 10px;
        font-size: 9px;
        outline: none;
        background-color: #fff;
        color: #333;
        transition: border-color 0.3s ease;
    }

    .search-box:focus {
        border-color: lavenderblush;
    }

    .search-button {
        padding: 5px 10px;
        border: none;
        background-color: lavenderblush;
        color: black;
        font-size: 9px;
        border-radius: 10px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .postitus-box {
        width: 90%;
        padding: 15px;
        margin: 20px auto;
        flex-direction: column;
    }

    .postitus-text-container {
        flex: none;
        margin-bottom: 15px;
    }

    .postitus-title {
        font-size: 16px;
    }

    .postitus-username {
        font-size: 12px;
    }

    .postitus-box img {
        width: 100%;
        height: auto;
    }

    .postloocontainer {
        width: 100%;
    }

    .aboutuspilt {
        display: none;
    }

    .aboutusfaktkast {
        width: 100%;
    }
}
