<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="menu-toggle" onclick="toggleMenu()">☰menüü</div>
        <ul class="nav-links" id="nav-links">
            <li><a href="{{ url_for('index') }}">Avaleht</a></li>
            <li><a href="{{ url_for('enda_konto') }}">Enda konto</a></li>
            <li><a href="{{ url_for('sisselogimine') }}">Sisselogimine</a></li>
            <li><a href="{{ url_for('postituseloomine') }}">Uus postitus</a></li>
            <div class="topnav-right">
                {% if session.get('username') %}
                    <a href="{{ url_for('logout') }}" class="logout">Logi välja</a>
                {% endif %}
            </div>
            <li>
                {% if session.get('username') %}
                    <a href="{{ url_for('create_post') }}" class="logout">Postita</a>
                {% endif %}
            </li>
        <li>
                {% if session.get('username') %}
                    <a href="{{ url_for('uploads') }}" class="logout">Postitused</a>
                {% endif %}
            </li>
        </ul>
    </nav>

    <!-- Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <div>
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <!-- Content Block -->
    {% block content %}{% endblock %}

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
