{% extends 'base.html' %}
{% block title %}
enda_konto
{% endblock %}

{% if session.get('username') %}
    <p>Welcome, {{ session['username'] }}!</p>
{% else %}
    <p>You are not logged in!</p>
{% endif %}

{% block content %}
<body>
<div class="endakontocontainer">
    <div class="endakontoboxideasetus">
        <div class="endakontobox1">
            <!-- Check and update the image path properly -->
            <img class="pfp" src="{{ url_for('static', filename=profile_picture.split('static/')[-1]) }}"
                 alt="Profile Picture">
            <a href="{{ url_for('profiiliseaded') }}" class="my-button-enda-konto">Muuda profiili</a>
            <div class="second-textbox-enda-konto">
              {{ bio1 }}
            </div>
        </div>
        <div class="endakontobox2">
            <div class="heading-enda-konto"><b>Kassiemme60</b></div>
            <div class="image-with-text-enda-konto">
                <p class="endakontotext">{{ bio2 }}</p>
            </div>
        </div>
    </div>
</div>
</body>
{% endblock %}
