{% extends 'base.html' %}

{% block title %}
Avaleht
{% endblock %}

{% block content %}
<body>
    <p class="avaleheheader">Kassisõprade foorum</p>
    <div class="avaleht-box">
        <section>
            <nav>
                <div class="search-container">
                    <form method="GET" action="{{ url_for('index') }}">
                        <input type="text" class="search-box" name="search" placeholder="Otsi..." value="{{ request.args.get('search', '') }}">
                        <button class="search-button" type="submit">Otsi</button>
                    </form>
                </div>
                <ul class="avaleht-posts">
                    {% for post in posts %}
                        <li>
                            <h3><a href="{{ url_for('postitus', post_id=post['id']) }}">{{ post['text'] }}</a></h3>
                            {% if post['image_path'] %}
                                <img src="{{ url_for('uploaded_file', filename=post['image_path'].split('/')[-1]) }}" alt="Post Image">
                            {% else %}
                                <img src="{{ url_for('static', filename='default.jpg') }}" alt="Default Image">
                            {% endif %}
                            <p>{{ post['username'] }}</p>
                        </li>
                    {% else %}
                        <li>No posts available.</li>
                    {% endfor %}
                </ul>
            </nav>
        </section>
    </div>
</body>
{% endblock %}
