{% extends 'base.html' %}

{% block title %}
Postitus
{% endblock %}

{% block content %}
<body>
    <div class="postitus-box">
        <div class="postitus-text-container">
            <div class="postitus-header">
                <!-- Display the post title -->
                <div class="postitus-title">{{ post['text'] }}</div>
                <!-- Display the post author -->
                <div class="postitus-username">{{ post['username'] }}</div>
            </div>
            <!-- Display the post text -->
            <p>{{ post['title'] }}</p>
        </div>
        <div class="postitus-image-container">
            <!-- Display the post image -->
            {% if post['image_path'] %}
                <img class="pfp" src="{{ url_for('uploaded_file', filename=post['image_path'].split('/')[-1]) }}" />
            {% else %}
                <img class="pfp" src="{{ url_for('static', filename='default.jpg') }}" />
            {% endif %}
        </div>
    </div>
</body>
{% endblock %}