{% extends 'base.html' %}

{% block title %}
Avaleht
{% endblock %}

{% block content %}
    <body>
    <div class="postitus-box">
        <div class="postitus-text-container">
            <div class="postitus-header">
                <div class="postitus-title">Pealkiri</div>
                <div class="postitus-username">kasutajanimi</div>
            </div>
            <p>See armas kass on pehme valge kasukaga, millele lisavad karakterit mõned šarmantsed pruunid laigud, mis jagunevad hajusalt üle tema näo ja keha. Tal on suured ja säravad silmad, mis väljendavad tema nälga...</p>
        </div>
        <div class="postitus-image-container">
            <img class="pfp" src="{{ url_for('static', filename='ksss.jpg') }}" />
        </div>
    </div>
</body>
{% endblock %}