{% extends 'base.html' %}

{% block title %}
Logi sisse
{% endblock %}

{% block content %}
<body>
<div class="sisselogimiscontainer">
    <div class="kass_ja_logikast">
        <div class="kassp">
            <img class="kiisusiluett" src="{{ url_for('static', filename='iluskass.png') }}"/>
        </div>
        <div class="logikast">
            <b class="tekstlogi">Loo uus kasutaja</b>
        <form action="{{ url_for('signup') }}" method="POST" style="display:flex; flex-direction:column;">
            <label class="logimistekst" for="name" id="name">kasutajanimi</label>
            <input class="inputboxes" type="text" name="name" required>
            <label class ="logimistekst" for="password" id="password">parool</label>
            <input class="inputboxes" type="password" name="password" required>
            <button class="logisisse">Registreeri</button>
            </form>
            <div class="eisoovikasutajat">
            <b class="eisoovitekst">Ei soovi kasutajat?</b>
                <a href="/static">
                    <a href="/">
            <b class="külalinelink"> Jätka külalisena</b>
                    </a>
                </a>
            </div>
        </div>
    </div>
</div>
</body>

{% endblock %}
