.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.container .box {
  width: 900px;
  height: 600px;
  background-color: LavenderBlush;
  color: white;
  text-align: center;
  display: flex;
}

.container .box .pfp {
    position: absolute;
    top: 10%;
    left: 10%;
}

.container .box .biobox {
    width: 400px;
    height:300px;
    background-color: white;
    position: absolute;
    top: 15%;
    left: 50%
}

h1 {
    border-bottom-style: solid;
    border-color: black;
    text-align: center;
    padding: 10px;
    margin: 0;
}

body {
    background-color: lightpink;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

* {
    font-family: Garamond;
}

nav {
  float: left;
  width: 30%;
  height: 1200px;
    width: 500px;
  background: beige;
  padding: 20px;
    align-content: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
    align-content: center;
}

section::after {
    content: "";
    display: table;
    clear: both;
}