.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.container .box {
  width: 900px;
  height: 600px;
  background-color: LavenderBlush;
  color: white;
  text-align: center;
  display: flex;
}

.container .box .pfp {
    position: absolute;
    top: 10%;
    left: 10%;
}

.container .box .biobox {
    width: 400px;
    height:300px;
    background-color: white;
    position: absolute;
    top: 15%;
    left: 50%
}

h1 {
    border-bottom-style: solid;
    border-color: black;
    text-align: center;
    padding: 10px;
    margin: 0;
}

body {
    background-color: lightpink;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

* {
    font-family: Garamond, serif;
}

nav {
  float: left;
  height: 10%;
  background: beige;
  padding: 20px;
    align-content: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
    align-content: center;
}

section::after {
    content: "";
    display: table;
    clear: both;
}

/* navbari stiil */
        /* Add a black background color to the top navigation */
.navbar {
    background-color: darkgrey;
    overflow: hidden;
    width: 100%;
    height: 2%;
}
/* Default: Show nav-links and hide the menu toggle on desktop */
.navbar .nav-links {
    list-style-type: none;
    display: flex;
    gap: 15px;
}
    /* Style the links inside the navigation bar */
.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 1px 20px;
    text-decoration: none;
    font-size: 17px;
    justify-content: center;
}

    /* Change the color of links on hover */
.navbar a:hover {
    background-color: #ddd;
    color: lightpink;
}

    /* Add a color to the active/current link */
.navbar a.active {
    background-color: lightpink;
    color: rebeccapurple;
}
.navbar .menu-toggle {
    display: none; /* Hide by default (desktop) */
}

/* Mobile styles */
@media (max-width: 768px) {
    .navbar .nav-links {
        display: none; /* Hide by default on mobile */
        flex-direction: column;
        background-color: #333;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
    }

    .navbar .nav-links.visible {
        display: flex; /* Show when the 'visible' class is added */
    }

    .navbar .menu-toggle {
        display: block; /* Show only on mobile */
        cursor: pointer;
        color: white;
        font-size: 1.5em;
    }
}