h1 {
    border-bottom-style: solid;
    border-color: black;
    text-align: center;
    padding: 10px;
    margin: 0;
}

body {
    background-color: lightpink;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

* {
    font-family: Garamond;
}

nav {
  float: left;
  width: 30%;
  height: 1200px;
    width: 500px;
  background: beige;
  padding: 20px;
    align-content: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
    align-content: center;
}

section::after {
    content: "";
    display: table;
    clear: both;
}