.container {
   display: flex;
    justify-self: center;
}

.container .box {
    width: 1000px;
    height: 800px;
    background-color: LavenderBlush;
    border: solid;
    display: flex;
}

.container .box .pinkline {
    background-color: #E7A0B7;
    width: 1000px;
    height: 50px;
    border: solid;
}

.container .box .pfp {
    position: absolute;
    top: 20%;
    left: 5%;
}

.container .box .biotitle {
    position: absolute;
    top: 21%;
    left: 34%;
}

.container .box .biobox {
    width: 400px;
    height:300px;
    background-color: white;
    position: absolute;
    top: 25%;
    left: 34%;
    border: solid;
    display: flex;
}

.container .box .accountname {
    position: absolute;
    top: 50%;
    background-color: white;
    border: solid;
    width: 270px;
    height: 35px;
    left: 5%;
}

.container .box .kuvanimi {
    position: absolute;
    top: 47%;
    left: 5%
}

.container .box .faktibox {
    position: absolute;
    top: 60%;
    background-color: white;
    border: solid;
    width: 270px;
    height: 150px;
    left: 5%;
}

.container .box .faktid {
    position: absolute;
    top: 57%;
    left: 5%
}

.container .box .salvestabutton {
    background-color: #E7A0B7;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.2s ease;
    width: 200px;
    height: 40px;
    position: absolute;
    top: 65%;
    right: 46%;
    transform: scale(1.05);
}

.container .box .salvestabutton .salvesta {
    text-align: center;
}

h1 {
    border-bottom-style: solid;
    border-color: black;
    text-align: center;
    padding: 10px;
    margin: 0;
}

body {
    background-color: lightpink;
}

* {
    font-family: Garamond, serif;
}

nav {
  float: left;
  height: 10%;
  background: beige;
  padding: 20px;
    align-content: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
    align-content: center;
}

section::after {
    content: "";
    display: table;
    clear: both;
}

/* navbari stiil */
        /* Add a black background color to the top navigation */
.navbar {
    background-color: darkgrey;
    overflow: hidden;
    width: 100%;
    height: 2%;
}
/* Default: Show nav-links and hide the menu toggle on desktop */
.navbar .nav-links {
    list-style-type: none;
    display: flex;
    gap: 15px;
}
    /* Style the links inside the navigation bar */
.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 1px 20px;
    text-decoration: none;
    font-size: 17px;
    justify-content: center;
}

    /* Change the color of links on hover */
.navbar a:hover {
    background-color: #ddd;
    color: lightpink;
}

    /* Add a color to the active/current link */
.navbar a.active {
    background-color: lightpink;
    color: rebeccapurple;
}
.navbar .menu-toggle {
    display: none; /* Hide by default (desktop) */
}

/* Mobile styles */
@media (max-width: 768px) {
    .navbar .nav-links {
        display: none; /* Hide by default on mobile */
        flex-direction: column;
        background-color: #333;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
    }

    .navbar .nav-links.visible {
        display: flex; /* Show when the 'visible' class is added */
    }

    .navbar .menu-toggle {
        display: block; /* Show only on mobile */
        cursor: pointer;
        color: white;
        font-size: 1.5em;
    }
}
